<div class="container">
    <h1 class="mt-5 text-center">Football League Calendar</h1>

    @if (ViewBag.Message != null)
    {
        <div class="alert alert-warning mt-3">
            @ViewBag.Message
        </div>
    }

    @if (Model != null && Model.Count > 0)
    {
        <br />
        <div class="text-center mb-4">
            <form method="post" action="/Teams/GenerateResults">
                <button type="submit" class="btn btn-success">Generate All Match Results</button>
            </form>
            <br />
            <div class="text-center mb-4">
                <form asp-action="Rankings" asp-controller="Teams" method="post">
                    <button type="submit" class="btn btn-primary">Generate Rankings</button>
                </form>
            </div>

        </div>

        <h2 class="mt-5">Calendar</h2>

        @for (int i = 0; i < Model.Count; i++)
        {
            <h3 class="mt-3">Matchday @(i + 1)</h3>
            <table class="table mt-3">
                <thead>
                    <tr>
                        <th>Home Team</th>
                        <th>Away Team</th>
                        <th>Date</th>
                        <th>Stadium</th>
                        <th>City</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var match in Model[i])
                    {
                        <tr>
                            <td>@match.HomeTeam.SquadName</td>
                            <td>@match.AwayTeam.SquadName</td>
                            <td>@match.MatchDate.ToShortDateString()</td>
                            <td>@match.StadiumName</td>
                            <td>@match.City</td>
                            <td>
                                @if (match.Result != null)
                                {

                                    @($"{match.Result.HomeTeamScore} - {match.Result.AwayTeamScore}")
                                }
                               
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
    else
    {
        <p>No matches scheduled.</p>
    }
</div>


