@using ChampionshipWebApp.Resources
@using Microsoft.AspNetCore.Authentication;
@using Microsoft.AspNetCore.Authentication.Cookies;
@using System.Security.Claims;

@{
    var userLanguage = User.Claims.FirstOrDefault(c => c.Type == "Language")?.Value ?? "en";
    System.Threading.Thread.CurrentThread.CurrentCulture = new System.Globalization.CultureInfo(userLanguage);
    System.Threading.Thread.CurrentThread.CurrentUICulture = System.Threading.Thread.CurrentThread.CurrentCulture;
}

<style>
    .blue-row {
        background-color: #007bff; 
        color: white; 
    }

    .orange-row {
        background-color: #ff8800; 
        color: white; 
    }

    .green-row {
        background-color: #28a745; 
        color: white; 
    }

    .red-row {
        background-color: #dc3545; 
        color: white; 
    }

    .blue-box {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: #007bff; 
        margin-right: 10px;
    }

    .orange-box {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: #ff8800;
        margin-right: 10px;
    }

    .green-box {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: #28a745; 
        margin-right: 10px;
    }

    .red-box {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: #dc3545; 
        margin-right: 10px;
    }
</style>

<div class="d-flex justify-content-start mb-3">
    <a href="/Teams/ViewCalendar" class="btn btn-primary">@string.Format(Resources.BackToCalendar)</a>
</div>


<h2 class="mt-4">@string.Format(Resources.Rakings)</h2>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>@string.Format(Resources.SquadName)</th>
                <th>@string.Format(Resources.GamesPlayed)</th>
                <th>@string.Format(Resources.Wins)</th>
                <th>@string.Format(Resources.Draws)</th>
                <th>@string.Format(Resources.Defeats)</th>
                <th>@string.Format(Resources.GolScored)</th>
                <th>@string.Format(Resources.GolAgainst)</th>
                <th>@string.Format(Resources.Points)</th>
            </tr>
        </thead>
        <tbody>
            @{
                int rank = 1;
                int totalTeams = Model.Count; 
            }
            @foreach (var ranking in Model)
            {
                var rowClass = rank <= 3 ? "blue-row"
                : rank == 4 || rank == 5 ? "orange-row"
                : rank == 6 ? "green-row"
                : rank > totalTeams - 3 ? "red-row"
                : "";

                <tr class="@rowClass">
                    <td>@ranking.Key.SquadName</td>
                    <td>@ranking.Value.GamesPlayed</td>
                    <td>@ranking.Value.Wins</td>
                    <td>@ranking.Value.Draws</td>
                    <td>@ranking.Value.Losses</td>
                    <td>@ranking.Value.GoalsFor</td>
                    <td>@ranking.Value.GoalsAgainst</td>
                    <td>@ranking.Value.Points</td>
                </tr>

                rank++;
            }
        </tbody>
    </table>
</div>

<div class="mt-4">
    <div class="blue-box"></div> Champions League
    <div class="orange-box"></div> Europa League
    <div class="green-box"></div> Conference League
    <div class="red-box"></div> @string.Format(Resources.RelegationZone)
</div>
