<h2 class="mt-4">Rankings</h2>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Team</th>
                <th>Games Played</th>
                <th>Wins</th>
                <th>Draws</th>
                <th>Losses</th>
                <th>Goals For</th>
                <th>Goals Against</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ranking in Model)
            {
                <tr>
                    <td>@ranking.Key.SquadName</td>
                    <td>@ranking.Value.GamesPlayed</td>
                    <td>@ranking.Value.Wins</td>
                    <td>@ranking.Value.Draws</td>
                    <td>@ranking.Value.Losses</td>
                    <td>@ranking.Value.GoalsFor</td>
                    <td>@ranking.Value.GoalsAgainst</td>
                    <td>@ranking.Value.Points</td>
                </tr>
            }
        </tbody>
    </table>
</div>









