<div class="container">
    <h1 class="mt-5 text-center">Team List</h1>

    <table class="table table-hover table-striped mt-3">
        <thead class="thead-dark">
            <tr>
                <th>Squad Name</th>
                <th>Foundation Year</th>
                <th>City</th>
                <th>Color of Club</th>
                <th>Stadium Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var team in Model)
            {
                <tr>
                    <td>@team.SquadName</td>
                    <td>@team.FondationYear</td>
                    <td>@team.City</td>
                    <td>@team.ColorOfClub</td>
                    <td>@team.StadiumName</td>
                    <td>
                        <button class="btn btn-warning btn-sm" title="Edit" onclick="openEditModal('@team.SquadName', '@team.FondationYear', '@team.City', '@team.ColorOfClub', '@team.StadiumName')">
                            <i class="fas fa-edit"></i> Edit
                        </button>
                        <form action="/Teams/Delete" method="post" style="display:inline;">
                            <input type="hidden" name="squadName" value="@team.SquadName" />
                            <button type="submit" class="btn btn-danger btn-sm" title="Delete">
                                <i class="fas fa-trash"></i> Delete
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="editModalLabel">Edit Team</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form id="editForm" method="post" action="/Teams/Edit">
                    <input type="hidden" id="EditSquadName" name="SquadName" />
                    <div class="form-group">
                        <label for="EditFondationYear">Foundation Year</label>
                        <input type="number" class="form-control" id="EditFondationYear" name="FondationYear" required />
                    </div>
                    <div class="form-group">
                        <label for="EditCity">City</label>
                        <input type="text" class="form-control" id="EditCity" name="City" required />
                    </div>
                    <div class="form-group">
                        <label for="EditColorOfClub">Color of Club</label>
                        <input type="text" class="form-control" id="EditColorOfClub" name="ColorOfClub" required />
                    </div>
                    <div class="form-group">
                        <label for="EditStadiumName">Stadium Name</label>
                        <input type="text" class="form-control" id="EditStadiumName" name="StadiumName" required />
                    </div>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    function openEditModal(squadName, fondationYear, city, colorOfClub, stadiumName) {
        $('#EditSquadName').val(squadName);
        $('#EditFondationYear').val(fondationYear);
        $('#EditCity').val(city);
        $('#EditColorOfClub').val(colorOfClub);
        $('#EditStadiumName').val(stadiumName);
        $('#editModal').modal('show');
    }
</script>
