@model List<Championship.Team>

<div class="container">
    <h1 class="mt-5 text-center">Football League System</h1>

    <div class="d-flex justify-content-center mt-5">
        <a href="/addteams.html" class="btn btn-primary btn-lg me-3">Add Teams</a>
        <a href="/Teams/TeamList" class="btn btn-secondary btn-lg">View Calendar</a>
    </div>

    @if (Model != null && Model.Count > 0)
    {
        <h2 class="mt-5">List of Teams</h2>
        <table class="table mt-3">
            <thead>
                <tr>
                    <th>Squad Name</th>
                    <th>Foundation Year</th>
                    <th>City</th>
                    <th>Color of Club</th>
                    <th>Stadium Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var team in Model)
                {
                    <tr>
                        <td>@team.SquadName</td>
                        <td>@team.FondationYear</td>
                        <td>@team.City</td>
                        <td>@team.ColorOfClub</td>
                        <td>@team.StadiumName</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No teams have been added yet.</p>
    }
</div>


